<div class="btn-group">
    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="">Set "Lunch"</a></li>
        <li><a href="">Set "Towels"</a></li>
        <li><a href="">Set "Absent"</a></li>
        <li><a href="">Set "None"</a></li>
    </ul>
</div>
